/* 
COLORS:
light blue: #8e9efc
medium blue:#5a73fc
dark blue:#1c3eff
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}

header{
    background-image: 
    linear-gradient(to right bottom, rgba(142, 158, 252, .8),rgba(28, 62, 255, .8)),
    url('../img/background1.jpg');
    background-size: cover;
    background-position: top;
    /*Giá trị này thường được sử dụng để thiết lập vị trí của phần tử 
    mà không gây ảnh hưởng tới việc hiển thị ban đầu cũng như các phần tử khác*/
    position: relative;
    height: 95vh;
    /*https://bennettfeely.com/clippy/*/
    clip-path: ellipse(65% 58% at 50% 34%);
}

.text-box{
      /*Giá trị này dùng để thiết lập vị trí của một phần tử
       theo phần tử cha có giá trị thuộc tính position là relative hoặc absolute*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*Xác định một dịch chuyển 2D*/
    transform: translate(-50%,-50%);    
    text-align: center; /*can giua cho text box*/
}

.logo{
    height: 70px;
}

.logo-box{
    position: absolute;
    top: 30px;
    left: 30px;
}


.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
    animation-name: animationtest;
    animation-duration: 2s; /*Chay hieu ung trong 2s*/
    animation-iteration-count: 2;   /*Chay hieu ung: 2 lan*/
    animation-delay: 2s;    /*thoi gian delay truoc khi chay hieu ung: 2s*/
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);  /*Tao hieu ung bang cach chia khoang thoi gian. Tham khao cubic-bezier*/
}

.heading-primary-main{
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1s ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 18px;
    animation: moveInRight 1s ease-out;
}

.btn,
.btn:link,  /* link the a khi chua duoc click*/
.btn:visited{       /* link the a khi da duoc click*/
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    /*
        display: inline; cac Item nam tren 1 dong, va cac Item ko the set widt va height
        display: block; cac Item luôn được xuống dòng và chiếm toàn bộ width nếu không được set, set được width, height, margin, padding
         đầy đủ 4 hướng
        display: inline-block; các Item được xếp cùng nhau trên 1 dòng, có thuộc tính của block, set được width, height, margin, padding
    */
    display: inline-block;
    border-radius: 100px;
    font-size: 16px;
    position: relative;
}

.btn-white{
    color: #777777;
    background-color: #fff;
}

.btn:hover{ /*chọn các liên kết được hover (di chuyển chuột lên thành phần).*/
    transform: translateY(-3px); /*Xác định một dịch chuyển 2D theo trục Y.*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btn:active{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

/* giống như clone 1 button và tạo ra hiệu ứng cho clone_button*/
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all 0.4s;   /*chinh thoi gian hieu ung*/
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6); 
    opacity: 0; /*là độ mờ mặc định của một phần tử*/
}

.btn-animated{
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /* Giu trang thai keyframe dau tien trong suot thoi gian delay*/
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}