@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

// Tiếp theo sẽ chình phần popup content. Ở đây đầu tiên là set width cho popup__content và chỉnh sao cho nó hiển thị ở giữa.
// Do có thẻ sẽ dùng nhiều nên mình để code chỉnh vị trí ở giữa sáng _mixins.scss

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
