@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

// Tiếp theo sẽ chình phần popup content. Ở đây đầu tiên là set width cho popup__content và chỉnh sao cho nó hiển thị ở giữa.
// Do có thẻ sẽ dùng nhiều nên mình để code chỉnh vị trí ở giữa sáng _mixins.scss

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin  respond($breakpoint) {
    @if $breakpoint == phone{
        @media (max-width: 600px){@content}; //600px
    }
    @if $breakpoint == tab-port{
        @media (max-width: 900px){@content};  //900px
    }
    @if $breakpoint == tab-land{
        @media (max-width: 1200px){@content}; //1200px
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 1800px){@content}; //1800px
    }
}
