/*file utilities sẽ chứa các setting các properties của các element bổ sung (như muốn set margin thì sẽ dùng class u-margin chẳng hạn,
*/

.u-center-text{
    text-align: center !important;
}

.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}

.u-margin-bottom-small{
    margin-bottom: 2rem !important;
}